@font-face {
    font-family: 'Vinson';
    src: url('/fonts/Vinson-Bold.woff2') format('woff2'),
        url('/fonts/Vinson-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vinson';
    src: url('/fonts/Vinson-Regular.woff2') format('woff2'),
        url('/fonts/Vinson-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vinson';
    src: url('/fonts/Vinson-Light.woff2') format('woff2'),
        url('/fonts/Vinson-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}